#root {
  margin: 0 auto;
  text-align: center;
}

div.app-container{
  display: grid;
  align-content: space-between;
  min-height: 100vh;
  padding: 0;
  min-width: 300px;
}

.content-container {
  flex-grow: 1;
  padding: 20px;
}

