:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-primary: #0a1e37;
  --color-secondary: #001c44;
  --color-accent: #f9dc36;
  --color-background: #0f1624;
  --color-text: #f8f8ff;
}

body{
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
}

button.btn {
  background-color: var(--color-accent);
  color: var(--color-primary);
  font-weight:600;
  border: none;
}

button.btn:hover {
  background-color: #f9e369;
  color: var(--color-primary);
  font-weight:600;
  border: none;
}